
  .marquee {
    background: white;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    .rateCountry {
      font-weight: 600;
      margin-right: 7px;
    }
    .rate {
      margin-right: 25px;
    }
  }

