{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/pages/(.*)$",
    "^@/layouts/(.*)$",
    "^@/components/(.*)$",
    "^@/store/(.*)$",
    "^@/api/(.*)$",
    "^@/assets/(.*)$",
    "^@/hooks/(.*)$",
    "^@/shared/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$",
    "^@/configs/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
