.search {
  border: 2px solid darken(grey, 10%);
  padding: 10px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
  background: #ffffff;
  > svg {
    color: darken(grey, 10%);
    margin-right: 5px;
    font-size: 25px;
    fill: green;
  }

  > input {
    //background: transparent;
    width: 100%;
    outline: none;
    border: none;
    &::placeholder {
      color: lighten(grey, 10%);
    }
  }

  &:focus-within {
    border-color: var(--border-color);
  }
}
