.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    color: var(--text-color);
    display: flex;
    align-items: center;
    .logoGreener {
      color: lighten(green, 7%);
    }
  }
}
