.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marquee {
  width: 450px;
  cursor: pointer;
  .rateCountry {
    font-weight: 600;
    margin-right: 8px;
  }
  .rate {
    color: green;
    margin-right: 25px;
  }
}
